<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" />
        <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched">
        Name is required.
        </div>
    </div>

    <div>
        <label for="expected_value">Valor Esperado</label>
        <input id="expected_value" type="number" formControlName="expected_value" />
        <div *ngIf="itemForm.get('expected_value')?.invalid && itemForm.get('expected_value')?.touched">
            Valor Esperado es Requerido.
        </div>
    </div>

    <div>
        <label for="min_value">Valor Mínimo</label>
        <input id="min_value" type="number" formControlName="min_value" />
        <div *ngIf="itemForm.get('min_value')?.invalid && itemForm.get('min_value')?.touched">
            Valor Mínimo es Requerido.
        </div>
    </div>

    <div>
        <label for="max_value">Valor Máximo</label>
        <input id="max_value" type="number" formControlName="max_value" />
        <div *ngIf="itemForm.get('max_value')?.invalid && itemForm.get('max_value')?.touched">
            Valor Mínimo es Requerido.
        </div>
    </div>

    <button type="submit" [disabled]="itemForm.invalid">
        {{ isEditMode ? 'Update' : 'Create' }} Item
    </button>
</form>
  