<!-- <section class="form-indicator"> -->
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <h4>Registro Indicador</h4>
        <div class="field">
            <label for="name">Nombre</label>
            <input class="field-son" id="name" formControlName="name" placeholder="Nombre del Indicador" />
            <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched">
            Name is required.
            </div>
        </div>

        <div class="field">
            <label for="expected_value">Valor Esperado</label>
            <input class="field-son" id="expected_value" type="number" formControlName="expected_value" placeholder="Ingrese Valor Esperado"/>
            <div class="field-son-if" *ngIf="itemForm.get('expected_value')?.invalid && itemForm.get('expected_value')?.touched">
                Valor Esperado es Requerido.
            </div>
        </div>

        <div class="field">
            <label for="min_value">Valor Mínimo</label>
            <input class="field-son" id="min_value" type="number" formControlName="min_value" placeholder="Ingrese Valor Máximo" />
            <div *ngIf="itemForm.get('min_value')?.invalid && itemForm.get('min_value')?.touched">
                Valor Mínimo es Requerido.
            </div>
        </div>

        <div class="field">
            <label for="max_value">Valor Máximo</label>
            <input class="field-son" id="max_value" type="number" formControlName="max_value" placeholder="Ingrese Valor Mínimo" />
            <div *ngIf="itemForm.get('max_value')?.invalid && itemForm.get('max_value')?.touched">
                Valor Máximo es Requerido.
            </div>
        </div>

        <button class="" type="submit" [disabled]="itemForm.invalid">
            {{ isEditMode ? 'Actualizar' : 'Crear' }} Indicador
        </button>

        <div *ngIf="isEditMode">
            <button class="delete-button" type="button" (click)="deleteIndicator(id)">Eliminar</button>
        </div>
    </form>
<!-- </section> -->
  